* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(57, 122, 114);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 1.2em;
}

#container_login {
    width: 90%;
    max-width: 400px;
    margin: 20vh auto 0 auto;
    text-align: center;
    color: white;
}

#container_login input {
    width: 90%;
    height: 24px;
    border-radius: 2px;
}

#loginMessage {
    color: rgb(241, 199, 185);
    padding-bottom: 20px;
}

#container_register {
    width: 90%;
    max-width: 400px;
    margin: 20vh auto 0 auto;
    text-align: left;
    color: white;
}

#container_register input {
    width: 90%;
    height: 24px;
    border-radius: 2px;
}

#body_mypages {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/src/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;  
}

#body_mypages h1 {
    color: white;
   padding: 20px 0;
}

#main_mypages {
    width: 100%;
    height: 60vh;
    color: white;    
}

#container_mypages {
    width: 90%;
    max-width: 400px;
    min-height: 300px;
    margin: 300px auto auto auto;
    padding: 50px;
    text-align: center;
    background-color: rgb(114, 165, 33);
    border-radius: 50%;
}

#logoutBtn {
  margin-top: 50px;  
}

.active {
    text-decoration: underline;
}

button {
    padding: 4px 20px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px black;
}

a {
    color: white;
}